@model RickApps.UploadFilesMVC.ViewModels.AdminIndexViewModel;

@{
    ViewBag.Title = "Store Administration";
 }
<div class="container">
    <section class="page-start">
        <header mb-5>
            <h1 class="heading-line">Manage Listings</h1>
            <div class="row">
                <div class="col filters d-flex">
                    @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <label class="m-1" for="ItemStatus">Display: </label>
                                    @Html.DropDownListFor(vm => vm.Status, Model.StatusList, new { Class = "filter-nameselect form-control m-1", onchange = @"form.submit();" })
                    }
                </div>
                <div class="col filters d-flex float-right">
                    @Html.ActionLink("Add New Item", "Create", "Admin", null, new { @class = "btn btn-unique" })
                </div>
            </div>
        </header>
    </section>
    <section class="p-t-small">
        <div class="card">
            <div class="card-block">
                <table class="table header-fixed">
                    <thead class="thead-default">
                        <tr class="row m-2">
                            <th class="d-inline-block col-md-2 col-4">ID</th>
                            <th class="d-inline-block col-md-6 hidden-md-down">Name</th>
                            <th class="d-inline-block col-md-2 col-4">Price</th>
                            <th class="d-inline-block col-md-2 col-4">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="row m-2">
                                <td class="d-inline-block col-md-2 col-4"><a asp-controller="Admin"
                                                                             asp-action="Edit"
                                                                             asp-route-id="@item.ID">@item.Number</a></td>
                                <td class="d-inline-block col-md-6 hidden-md-down"><a asp-controller="Admin"
                                                                                    asp-action="Edit"
                                                                                    asp-route-id="@item.ID">@item.Name</a></td>
                                <td class="d-inline-block col-md-2 col-4">@item.FormattedPrice</td>
                                <td class="d-inline-block col-md-2 col-4">
                                    @using (Html.BeginForm("Delete", "Admin"))
                                    {
                                        @Html.Hidden("itemID", item.ID)
                                        <input type="submit"
                                                class="btn btn-default btn-xs"
                                                value="Delete" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>